div.section.hide-on-med-and-up
div.divider.grey.hide-on-med-and-up
div.section.hide-on-med-and-up
div.hide-on-small-and-down
    include ./google/add/waterschildpadden-top-1.html
div.hide-on-med-and-up
    include ./google/add/waterschildpadden-top-mobile.html