include ../../mixins/parser
include ../../mixins/p
include ../../mixins/p-caption

each card in content.cards
    div.card.light-green.lighten-4: div.card-content
        span.card-title: +p(card.title)
        div.divider.grey
        div.section
        each text in card.text
            if (typeof text === 'string' || text instanceof String)
                +p(text)
            else
                +parser(text)
    div.section