extends ../layout

block header
    include ../header/indexHeader

block main
    div.section.blue.lighten-3#index-banner: div.container: div.row
        div.col.s12.m9
            h3.flow-h3.header.center-on-small-only=data.site.title
            h4.flow-h4.light.blue-text.text-lighten-5.center-on-small-only De site voor een optimale behandeling van je huisdier
        div.col.s12.m3
            //-p.flow-text.center-on-small-only.light-blue-text.text-lighten-5 Dit wordt een reclame blokje
    div.container: div.row
        div.section.scrollspy
        div.col.s12.m9
            block mainContent
                include mainContent/indexMainContent
        div.col.s12.m3
            block sideContent
                include ./sideContent/defaultSideContent