extends ../layout

include ../mixins/p
include ../mixins/p-caption

block title
    title= activeNavigation.title + " - " + data.site.title

block mainContent
    div.row
        div.col.s12
            include ../publicity/pubMobileTop
        block intro
            - if (activeNavigation.content.intro.introCaption || activeNavigation.content.intro.introText)
                div.col.s12
                    div.card.light-green.lighten-4: div.card-content
                        +p-caption(activeNavigation.content.intro.introCaption)
                        div.divider.grey
                        div.section
                        +p(activeNavigation.content.intro.introText)
        div.divider
        block subNavigations
            div.col.s12.section
                each subNavigation, key in activeNavigation.subNavigations
                    div.col.s12.l6: div.card.medium
                        div.card-image
                            a(href=activeNavigation.route + subNavigation.route)
                                img(src="/images" + activeNavigation.route + subNavigation.route + ".jpg")
                                span.card-title=subNavigation.teaserTitle
                        div.card-content
                            +p(subNavigation.teaserSubTitle)
                        div.card-action
                            a(href=activeNavigation.route + subNavigation.route) Meer info
        div.divider
        block outro
            - if (activeNavigation.content.outro)
                div.col.s12.section: div.card.light-green.lighten-4: div.card-content
                    +p(activeNavigation.content.outro.outroText)